body{
  display: grid;
  grid-template-columns: 2.5fr 5fr 1.5fr;
  margin-top: 1vw;
}

.homename{
  font-size: 3vw;
  padding: 3vw;
  font-family: verdana;
  font-weight: 100;
  color: #04BFAD
}

.reflectionsname{
  font-size: 3vw;
  padding: 3vw;
  font-family: verdana;
  font-weight: 100;
  color: #04BFAD
}

a{
  margin-top: 3vw;
  text-decoration: none;
  font-family: verdana;
  font-size: 2.5vw;
  font-weight: 100;
  color: #211940;
  padding: 2vw;
  transition: 0.5s
}

a:hover{
  color: #04BFAD;
  font-size: 2.8vw;
}

h1{
  font-size: 3vw;
  padding: 2vw;
  font-family: verdana;
  font-weight: 100;
}

p{
  font-size: 1.6vw;
  padding-left: 2vw;
  font-family: verdana;
  font-weight: 100;
}
